* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #3e4452;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.alactritty {
    background-color: #3F3F3F;
}

window#waybar.brave {
    background-color: #000000;
    border: none;
}

#workspaces button {
    border: none;
    background: transparent;
    padding: 0 5px;
    color: #abb2bf;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
}

#workspaces button.focused {
    background-color: #282c34;
    color: #61afef;
}

#workspaces button.urgent {
    background-color: #be5046;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#mpd,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: #98c379;
    background-color: #282c34;
}

#clock {
    color: #abb2bf;
}

#battery {
    color: #abb2bf;
}

#battery.charging {
    color: #98c379;
}

#battery.critical:not(.charging) {
    color: #be5046;
}

label:focus {
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
    color: #be5046;
}

#pulseaudio {
    color: #98c379;
}

#pulseaudio.muted {
    color: #be5046;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
    color: #be5046;
}

#tray {
}

#idle_inhibitor {
    color: #be5046;
}

#idle_inhibitor.activated {
    color: #98c379;
}

#mpd {
}

#mpd.disconnected {
    color: #be5046;
}

#mpd.stopped {
}

#mpd.paused {
    color: #e5c07b;
}
